<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Tempo</title>
    <style>
        body{
            margin:200px;
            background:lightgreen;
        }
        #box{
            margin: auto;
            max-width: 600px;
            background: yellow;
            padding: 10px; text-align: center; border-radius:10px;
        }
        .button{
            border-radius:5px; background:grey;font:16px verdana;
        }
        a{text-decoration:none; color: black}
        link{color:black;}
        </style>
</head>
<body>

    <div id="box">
         <h1>About Tempo</h1>

         <p>Tempo is company of outstanding Engineers that design and manufacture User customized machines</p>

         <button class="button" ><a href="/">Home</a></button>
    </div>


</body>
</html>