<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tempo</title>
    <style>
        body{
            margin:200px;
            background:lightgreen;
        }
        #box{
            margin: auto;
            max-width: 600px;
            background: yellow;
            padding: 10px; text-align: center; border-radius:10px;
        }
        .button{
            border-radius:5px; background:grey;font:16px verdana;
        }
        a{text-decoration:none; color: black}
        link{color:black;}

    </style>
</head>
<body>

    <div id="box">
         <h1>Welcome to Tempo</h1>

         <p>It's all about celebrating speed</p>

         <button class="button" ><a href="/about/">About</a></button>
    </div>



</body>
</html>